[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pytelegrambotapi = "*"
flask = "*"
waitress = "*"
requests = "*"
fake-useragent = "*"
beautifulsoup4 = "*"

[dev-packages]
types-waitress = "*"
mypy = "*"
black = "*"
isort = "*"
flake8 = "*"
watchdog = "*"
psutil = "*"
types-beautifulsoup4 = "*"
types-requests = "*"

[requires]
python_version = "3.12"
