[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pytelegrambotapi = "*"
flask = "*"
waitress = "*"
requests = "*"
fake-useragent = "*"
beautifulsoup4 = "*"
redis = "*"
invoke = "*"

[dev-packages]
types-waitress = "*"
mypy = "*"
ruff = "*"
watchdog = "*"
psutil = "*"
types-beautifulsoup4 = "*"
types-redis = "*"
types-requests = "*"

[requires]
python_version = "3.12"
